body {
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    margin: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

#story {
    background-color: white;
    font-size: 24px;
    display: flex;
    margin-bottom: 20px;
    color: black;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-end;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Comic Neue', cursive;
    height: 40px;

}

#options {
    display: flex;
    justify-content: center;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;

}

button {
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid white;
    border-color: black;
    background-color: yellow;
    color: black;
    display: flex;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Comic Neue', cursive;
    text-transform: uppercase;
  
  }

  #input-div{

    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;

  }

  /* font-family: 'Archivo Black', sans-serif;
font-family: 'Comic Neue', cursive; */
